@{
    ViewData["Title"] = "Privacy Policy";
}
@model IEnumerable<Warehouse.Models.Products>

<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>

<form action="/Home/Privacy" method="post">
    <div>
        <span id="Name">
            Name
        </span>
        <input type="text" name="name" value="" required/>
    </div>
    <div>
        <span>
            Company Name
        </span>
        <input type="text" name="company" value="" required/>
    </div>
    <div>
        <span>
            Image
        </span>
        <input type="text" name="image_url" value="" required/>
    </div>
    <div>
        <input type="submit" name="damateba" value="damateba" />
    </div>
</form>

@if (Model != null)
{
<form action="/Home/Privacy" method="post">
    <TABLE border="1">
        <TR>
            <TD style="display:none;">ID</TD>
            <TD>Name</TD>
            <TD>Company</TD>
            <TD>ImageUrl</TD>
        </TR>
        @foreach (var item in Model)
        {
            <TR>
                <TD style="display:none;">@item.Id</TD>
                <TD>@item.Name</TD>
                <TD>@item.Company</TD>
                <TD>@item.ImageUrl</TD>
                <TD><input type="submit" name="@item.Id" value="delete"></TD>
            </TR>
        }
    </TABLE>
    <input type="submit" name="washla" value="washla" />
</form>

}
